$cellSize: 16px;

div {
    margin: 0;
    padding: 0;
    span.cell {
        width: $cellSize;
        height: $cellSize;
        display: inline-block;
        margin: 1px;        
        border: 1px solid red;
    }
}